/** {*/
/*  border: 1px solid red;*/
/*}*/
/*data-lenis-prevent*/
/* NAV */
.w-container {
  max-width: unset;
}

.w-nav-overlay {
  /*background: #e10600;*/
  top: 0;
  /*border: 2px solid #e10600;*/
  /*height: 100vh;*/
}

.n_nav__menu {
  /*position: fixed;*/
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  scrollbar-gutter: stable;
  transform: translate(0, -100%);
  /*border: 2px solid lime;*/
}

.w-nav[data-collapse="all"] .w-nav-button {
  display: flex;
}

body {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body.nav-open {
  overflow: hidden;
  /*border: 2px solid lime;*/
  /*position: fixed;*/
}

/*.w-nav-button.w--open {*/
/*  background-color: #e10600;*/
/*}*/

/*[data-nav-menu-open] {*/
/*  height: 100vh;*/
/*}*/

.n_nav__toggle[aria-expanded="false"] {}

.icon-only {
  border: 2px solid lime;
  /*aspect-ratio: 1;*/
}

.n_nav__sections-window {
  height: 1.7em;
  /*border: 1px solid white;*/
  overflow: hidden;
  transition: width 0.3s cubic-bezier(.77, 0, .18, 1);
  display: block;
  position: relative;
}

.n_nav__sections {
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.n_nav__section {
  text-wrap: nowrap;
}

.n_nav-menu__link.w--current {
  color: white;
  opacity: 1;
}

.w-nav-button {
  font-size: unset;
  z-index: 5;
}

.n_text-reveal-section {
  height: 100vh;
  min-height: 100svh;
  max-height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.n_text-reveal-section__inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.n_text-reveal {
  display: block;
  /*width: 64rem;*/
}

.n_text-reveal__block,
.n_logo-reveal__block {
  width: 100%;
  height: unset;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}

.n_text-reveal__block.active {
  user-select: text;
  pointer-events: auto;
}

.text-reveal__word {
  display: inline-block;
}

.n_bg-video {
  position: absolute;
}

/*ACCORDION*/
.n_scroll-accordion {
  max-height: 100svh;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.n_scroll-accordion__container {
  gap: 0;
}

.n_accordion-title.active {
  box-sizing: border-box;
  overflow: hidden;
  font-size: clamp(4.0625rem, 2.0744rem + 9.9405vw, 14.5rem);
}

.panels-mask {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.panels-mask__inner {
  gap: unset;
}

.n_scroll-accordion .panel__definition {
  position: absolute;
  transform: translateY(50px);
  left: 0;
}

/*logo text reveal*/
.n_logo-row__window {
  /*border: 1px solid red;*/
}

.n_logo-row__logos {
  /*position: relative;*/
  width: max-content;
}

.n_logo-row__window::before,
.n_logo-row__window::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.n_logo-row__window::before {
  left: 0;
  background: linear-gradient(to right, white 0%, transparent 100%);
}

.n_logo-row__window::after {
  right: 0;
  background: linear-gradient(to left, white 0%, transparent 100%);
}

/*BEFORE*/

@media (prefers-reduced-motion: reduce) {
  .text-reveal-content {
    /* turn off GSAP pinning and scrambling entirely */
    will-change: auto !important;
  }
}

.text-reveal-container {
  width: 64rem;
  height: 100%;
  max-width: 100%;
  position: relative;
}

.ripple-gradient-video video {
  object-fit: contain;
}

.nav-menu__link.w--current {
  color: white;
}

.fan-nav__menu {
  /*height: 100vh;*/
  /*overflow-y: scroll;*/
}

.fan-nav-scroll.hide {
  transform: translateY(-100%);
}

.fan-nav__menu-wrapper {
  height: 100vh;
  overflow: hidden;
}

.smooth-scroll {
  will-change: transform;
}

.navbar_button.show .navbar_section-wrapper {
  width: 100%;
}

.navbar_section-wrapper {
  height: 1.7rem;
  overflow: hidden;
  width: 0;
}

.navbar_section-wrapper.ghost-nav {
  height: auto;
  z-index: -5;
  /*display: none;*/
  opacity: 0;
}

/*[data-nav-menu-open] {*/
/*  top: 0;*/
/*}*/

.navbar_section-wrapper.ghost-nav.test {
  height: auto;
  z-index: 5;
}

.navbar_section-wrapper.ghost-nav .navbar_section-text,
.fan-nav_section-wrapper.ghost-nav .navbar_section-text {
  width: fit-content;
}

/*.navbar_sections-wrapper {*/
/*width: 0;*/
/*overflow: hidden;*/
/*  position: absolute;*/
/*  right: 100%;*/
/*  top: 100%;*/
/*}*/

.navbar_section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*border: 1px solid white;*/

}

.navbar_section-text {
  width: 0;
  /*border: 1px solid blue;*/
  /*height: 1.7rem;*/
  /*width: 0;*/
  /*height: 0;*/
  /*transition: height 0.3s ease;*/
  /*overflow: hidden;*/
}

.navbar_section-text.isActive {
  width: fit-content;
  transition: width 0.3s ease;
  transition-delay: 3;
  /*border: 2px solid lime;*/

}

.navbar_sections-inner {
  /*position: absolute;*/
  /*width: 0;*/
}

/*.navbar_button_lines {*/
/*  padding-left: 1em;*/

/*}*/

.navbar_button {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navbar_button {
  width: auto;
  height: auto;
  display: unset;
  justify-content: center;
  align-items: center;
  overflow: unset;
}

.navbar_button.showTagline .navbar_sections-inner .navbar_section:nth-of-type(1) {
  background: purple;
}

.navbar_button.showTagline .navbar_sections-wrapper {
  width: 100%;
}

.navbar_section-text {}

/* END NAV */

.section-header-text,
.stacked-title,
.typing-text,
.cursor .font-size-xxl,
.impact-h1 {
  font-size: clamp(8.5rem, 3rem + 3vw, 12.5rem);
  /*200px - 60px*/
  font-size: clamp(3.75rem, 2.0833rem + 8.3333vw, 12.5rem);
  font-size: clamp(4.0625rem, 2.4554rem + 8.0357vw, 12.5rem);
  /*font-size: clamp(4.375rem, 2.8274rem + 7.7381vw, 12.5rem);*/
}

#typography .section-header_numbered {
  border: 2px solid #000;
  position: relative;
}

#typography .section-header_numbered::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5rem;
  background: #000;
  bottom: -1em;

}

#typography .section_header23 {
  position: relative;

}

#typography .section_header23::after,
#iconography .section_header23::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5rem;
  background: #000;
  bottom: -1em;

}

#typography .section-header_numbered {
  border: 2px solid #000;
  position: relative;
}

#typography .section-header_numbered::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5rem;
  background: #000;
  bottom: -1em;

}

#iconography .section_header23 {
  position: relative;
}

.anton-text-fade {
  overflow: hidden;
}

#motion {
  background: black;
}

svg {
  max-width: 100%;
}

.line-reveal-btn {
  position: absolute;
  width: 100%;
}

.text-reveal-content {
  /*border: 1px solid red;*/
  opacity: 1;
}

.page-header-video-overlay::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5rem;
  background: #000;
  bottom: -1em;
  /*border: 1px solid red;*/
}

.line-item__inner {
  display: inline-block;
  transition: transform 0.15s ease-out;
}

.text-reveal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kinetic-svg {
  overflow: visible !important;
}

.section-reveal_background {
  will-change: transform;
}

.section-fade-up {
  opacity: 0;
  transform: translateY(50px);
}

.definition {
  /*position: absolute;*/
  /*transform: translateY(50px);*/
  position: absolute;
  transform: translateY(50px);
  left: 0;

}

.logo-path-svg svg,
{
max-width: 10rem;
}

.accordion-title.active {
  font-size: clamp(8rem, 3.0865rem + 9.1308vw, 12.5rem);
  font-size: clamp(5.625rem, 3.9345rem + 8.4524vw, 14.5rem);
  font-size: clamp(4.375rem, 2.4464rem + 9.6429vw, 14.5rem);
  font-size: clamp(4.0625rem, 2.0744rem + 9.9405vw, 14.5rem);
}

/*logo slide*/

.section_logo1 svg,
.section_icon-slide svg {
  max-width: unset;
}

.logo-content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.logo-content_wrap {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/

/*}*/

.logo-list_inner {
  position: relative;
  overflow: hidden;
  /* Prevents overflow */
}

.logo-list-wrapper::before,
.logo-list-wrapper::after,
.icon-list-wrapper::before,
.icon-list-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  /* Adjust as needed */
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.section_logo1 .logo-list-wrapper::before {
  left: 0;
  background: linear-gradient(to right, white 0%, transparent 100%);
}

.section_logo1 .logo-list-wrapper::after {
  right: 0;
  background: linear-gradient(to left, white 0%, transparent 100%);
}

.color-panel .colors-content {
  opacity: 0;

  clip-path: inset(0 0 0 0);
  transition: clip-path 0.3s ease;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.color-panel.active {
  /*border: 1px solid lime;*/
  border: unset;
}

.color-panel.active .colors-content {
  opacity: 1;

}

.stacked-slide {
  position: absolute;
}

.stacked-slider {
  height: 100vh;
}

.stacked-img {
  clip-path: inset(0% 0% 0% 0%);
}

#section-header-test {
  /*overflow: hidden;*/
}

#section-header-number-small {
  color: #e10600;
  opacity: 1;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-header-text-large {
  font-size: 12vw;
}

.section-typography .fan-sans-svg {
  width: 100%;
  fill: white;
}

.fan-sans-lottie-section .lottie-text-fade .heading-style-h2 {
  /*border: 1px solid red;*/
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.fan-sans-lottie-section .background-block {
  width: 0%;
  transform-origin: center center;
  transition: none;
}

/*@media screen and (max-width:991px) {*/
/*  .fan-sans-lottie-section .lottie-text-fade .heading-style-h2 {*/
/*    bottom: 0;*/
/*  }*/
/*}*/

.fan-sans-lottie-section .lottie-text-fade .heading-style-h2.active {
  opacity: 1;
  pointer-events: auto;
}

.typography-fans-svg {
  /*clip-path: inset(0 100% 0 0);*/
}

/*scroll slider*/
.scrolling-slider_slides {
  /*transform: translateX(100vw);*/
}

/*.section-tagline {*/
/*  position: relative;*/
/*}*/

/*.tagline-pin {*/
/*  position: relative;*/
/*  z-index: 5;*/
/*}*/

/*.section-tagline .section-header {*/
/*  position: relative;*/
/*  z-index: 0;*/
/*}*/

/*.section-wipe {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: #fff;*/
/*  z-index: 10;*/
/*}*/

/*.section-tagline .header-section.background-color-black {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  z-index: 0;*/

/*}*/
