/** {*/
/*  border: 1px solid red;*/
/*}*/

/*data-lenis-prevent*/

body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* NAV */
.w-container {
  max-width: unset;
}

.w-nav-overlay {
  /*background: #e10600;*/
  top: 0;
  /*border: 2px solid #e10600;*/
  /*height: 100vh;*/
}

.n_nav__menu {
  /*position: fixed;*/
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  scrollbar-gutter: stable;
  transform: translate(0, -100%);
  /*border: 2px solid lime;*/
}

.w-nav[data-collapse="all"] .w-nav-button {
  display: flex;
}

body {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body.nav-open {
  overflow: hidden;
  /*border: 2px solid lime;*/
  /*position: fixed;*/
}

.n_nav__toggle[aria-expanded="false"] {}

.nav-menu__link.w--current {
  color: white;
}

.n_nav__sections-window {
  height: 1.7em;
  /*border: 1px solid white;*/
  overflow: hidden;
  transition: width 0.3s cubic-bezier(.77, 0, .18, 1);
  display: block;
  position: relative;
}

.n_nav__sections {
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.n_nav__section {
  text-wrap: nowrap;
}

.n_nav-menu__link.w--current {
  color: white;
  opacity: 1;
}

.w-nav-button {
  font-size: unset;
  z-index: 5;
}

.n_text-reveal-section {
  height: 100vh;
  min-height: 100svh;
  max-height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

.n_text-reveal-section__inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.n_text-reveal {
  display: block;
  /*width: 64rem;*/
}

.n_text-reveal__extra {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: unset;
  height: unset;
}

.n_text-reveal__extra .special__typography-fans {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.n_text-reveal__extra .special__typography-fans .typography-fans-svg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.n_text-reveal__extra .special__typography-fans .typography-fans-svg svg {
  max-height: 80vh;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .special__split {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

.n_text-reveal__block,
.n_logo-reveal__block {
  width: 100%;
  height: unset;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}

.n_text-reveal__block.active {
  user-select: text;
  pointer-events: auto;
  /*border: 2px solid lime;*/
}

.n_text-reveal__block[data-animate-special="anton"] {
  /*border: 2px solid orange;*/
}

.n_text-reveal__block[data-animate-special="anton"] .n_text-reveal__headings {
  position: relative;
  width: 100%;
}

.n_text-reveal__block[data-animate-special="anton"] .n_text-reveal__headings .n_text-reveal__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.n_text-reveal__block[data-animate-special="anton"] .n_text-reveal__headings .n_text-reveal__heading .n_text-reveal__text {
  width: 100%;
}

/*.n_logo-row__logos.n_logo-row__icons {*/
/*  border: 1px solid red;*/
/*}*/

/*.n_logo-row__window.n_logo-row__icons svg {*/
/*  width: 100%;*/
/*}*/

.n_logo-row__window.n_logo-row__icons .w-embed {
  width: 100%;
}

.text-reveal__word {
  display: inline-block;
}

.n_bg-video {
  position: absolute;
}

/* WORDMARK */
@media only screen and (max-width: 767px) {
  .fanatics-logo-ani video {
    border: 1px solid red;
    object-fit: contain !important;
  }

}

/* fans sans section */

.section-fans__text-wrapper {
  position: relative;
  /*border: 1px solid red;*/
  width: 100%;
}

@media only screen and (min-width: 767px) {}

.section-fans__side.section-fans__side--text {
  /*width: 40rem;*/

  /*border: 2px solid pink;*/
}

.section-fans__text {
  position: absolute;
  left: 0;
  top: 0;
  /*width: 40rem;*/
  max-width: 100%;

}

.section-fans__side--lottie svg {
  /*width: 120vw !important;*/
  min-width: 120vw;
}

@media only screen and (max-width: 767px) {
  .section-fans__side--lottie svg {
    /*width: 120vw !important;*/
    min-width: 200vw;
  }

}

#fan-sans-lottie--hidden {
  display: none;
}

/*ACCORDION*/
.n_scroll-accordion {
  max-height: 100svh;
  padding: 0 5%;
  display: flex;
  align-items: center;
}

.n_scroll-accordion__container {
  gap: 0;
}

.n_accordion-title.active {
  box-sizing: border-box;
  overflow: hidden;
  font-size: clamp(4.0625rem, 2.0744rem + 9.9405vw, 14.5rem);
}

.panels-mask {
  opacity: 0;
  visibility: hidden;
  transition: none;
}

.panels-mask__inner {
  gap: unset;
}

.n_scroll-accordion .panel__definition {
  position: absolute;
  transform: translateY(50px);
  left: 0;
}

/*logo text reveal*/
.n_logo-row__window {
  /*border: 1px solid red;*/
}

.n_logo-row__logos {
  /*position: relative;*/
  width: max-content;
}

.n_logo-row__window::before,
.n_logo-row__window::after {
  content: "";
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.n_logo-row__window::before {
  left: 0;
  background: linear-gradient(to right, white 0%, transparent 100%);
}

.n_logo-row__window::after {
  right: 0;
  background: linear-gradient(to left, white 0%, transparent 100%);
}

.colors-wrapper .colors {
  display: flex;
}

/*.color-panel {*/
/*  width: 5em;*/
/*}*/

/* STACKED SLIDER */

.n_stacked-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

.n_stacked-slide {
  /*border: 1px solid red;*/
  position: absolute;
  inset: 0;
}

/* BIG SLIDER */
.n_big-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.n_big-slider .n_big-slide {
  position: absolute;
  inset: 0;
  /*border: 1px solid red;*/
}

.fanatics-logo-ani video {
  width: 110%;
  height: 110%;
}

.color-panel .colors-content {
  opacity: 0;

  clip-path: inset(0 0 0 0);
  transition: clip-path 0.3s ease;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.color-panel.active {
  /*border: 1px solid lime;*/
  border: unset;
}

.color-panel.active .colors-content {
  opacity: 1;

}

svg {
  max-width: 100%;
}

.section-fade-up {
  opacity: 0;
  transform: translateY(50px);
}

/*BEFORE*/

@media (prefers-reduced-motion: reduce) {
  .text-reveal-content {
    /* turn off GSAP pinning and scrambling entirely */
    will-change: auto !important;
  }
}

/*.navbar_sections-wrapper {*/
/*width: 0;*/
/*overflow: hidden;*/
/*  position: absolute;*/
/*  right: 100%;*/
/*  top: 100%;*/
/*}*/

/*.navbar_section {*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*  align-items: center;*/
/*border: 1px solid white;*/

/*}*/

/*.navbar_section-text {*/
/*  width: 0;*/
/*border: 1px solid blue;*/
/*height: 1.7rem;*/
/*width: 0;*/
/*height: 0;*/
/*transition: height 0.3s ease;*/
/*overflow: hidden;*/
/*}*/

/*.navbar_section-text.isActive {*/
/*  width: fit-content;*/
/*  transition: width 0.3s ease;*/
/*  transition-delay: 3;*/
/*border: 2px solid lime;*/

/*}*/

/*.navbar_sections-inner {*/
/*position: absolute;*/
/*width: 0;*/
/*}*/

/*.navbar_button_lines {*/
/*  padding-left: 1em;*/

/*}*/

/*.navbar_button {*/
/*  width: 4rem;*/
/*  height: 4rem;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  overflow: hidden;*/
/*}*/

/*.navbar_button {*/
/*  width: auto;*/
/*  height: auto;*/
/*  display: unset;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  overflow: unset;*/
/*}*/

/*.navbar_button.showTagline .navbar_sections-inner .navbar_section:nth-of-type(1) {*/
/*  background: purple;*/
/*}*/

/*.navbar_button.showTagline .navbar_sections-wrapper {*/
/*  width: 100%;*/
/*}*/

/*.navbar_section-text {}*/

/* END NAV */

/*.section-header-text,*/
/*.stacked-title,*/
/*.typing-text,*/
/*.cursor .font-size-xxl,*/
/*.impact-h1 {*/
/*  font-size: clamp(8.5rem, 3rem + 3vw, 12.5rem);*/
/*200px - 60px*/
/*  font-size: clamp(3.75rem, 2.0833rem + 8.3333vw, 12.5rem);*/
/*  font-size: clamp(4.0625rem, 2.4554rem + 8.0357vw, 12.5rem);*/
/*font-size: clamp(4.375rem, 2.8274rem + 7.7381vw, 12.5rem);*/
/*}*/

/*#typography .section-header_numbered {*/
/*  border: 2px solid #000;*/
/*  position: relative;*/
/*}*/

/*#typography .section-header_numbered::after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  width: 100%;*/
/*  height: 5rem;*/
/*  background: #000;*/
/*  bottom: -1em;*/

/*}*/

/*#typography .section_header23 {*/
/*  position: relative;*/

/*}*/

/*#typography .section_header23::after,*/
/*#iconography .section_header23::after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  width: 100%;*/
/*  height: 5rem;*/
/*  background: #000;*/
/*  bottom: -1em;*/

/*}*/

/*#typography .section-header_numbered {*/
/*  border: 2px solid #000;*/
/*  position: relative;*/
/*}*/

/*#typography .section-header_numbered::after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  width: 100%;*/
/*  height: 5rem;*/
/*  background: #000;*/
/*  bottom: -1em;*/

/*}*/

/*#iconography .section_header23 {*/
/*  position: relative;*/
/*}*/

/*.anton-text-fade {*/
/*  overflow: hidden;*/
/*}*/

/*#motion {*/
/*  background: black;*/
/*}*/

/*.line-reveal-btn {*/
/*  position: absolute;*/
/*  width: 100%;*/
/*}*/

/*.text-reveal-content {*/
/*border: 1px solid red;*/
/*  opacity: 1;*/
/*}*/

/*.page-header-video-overlay::after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  width: 100%;*/
/*  height: 5rem;*/
/*  background: #000;*/
/*  bottom: -1em;*/
/*border: 1px solid red;*/
/*}*/

/*.line-item__inner {*/
/*  display: inline-block;*/
/*  transition: transform 0.15s ease-out;*/
/*}*/

/*.text-reveal-content {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

/*.kinetic-svg {*/
/*  overflow: visible !important;*/
/*}*/

/*.section-reveal_background {*/
/*  will-change: transform;*/
/*}*/

/*.definition {*/
/*position: absolute;*/
/*transform: translateY(50px);*/
/*  position: absolute;*/
/*  transform: translateY(50px);*/
/*  left: 0;*/

/*}*/

/*.logo-path-svg svg,*/
/*{*/
/*max-width: 10rem;*/
/*}*/

/*.accordion-title.active {*/
/*  font-size: clamp(8rem, 3.0865rem + 9.1308vw, 12.5rem);*/
/*  font-size: clamp(5.625rem, 3.9345rem + 8.4524vw, 14.5rem);*/
/*  font-size: clamp(4.375rem, 2.4464rem + 9.6429vw, 14.5rem);*/
/*  font-size: clamp(4.0625rem, 2.0744rem + 9.9405vw, 14.5rem);*/
/*}*/

/*logo slide*/

/*.section_logo1 svg,*/
/*.section_icon-slide svg {*/
/*  max-width: unset;*/
/*}*/

/*.logo-content-center {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.logo-content_wrap {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/

/*}*/

/*.logo-list_inner {*/
/*  position: relative;*/
/*  overflow: hidden;*/
/* Prevents overflow */
/*}*/

/*.logo-list-wrapper::before,*/
/*.logo-list-wrapper::after,*/
/*.icon-list-wrapper::before,*/
/*.icon-list-wrapper::after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  width: 30%;*/
/* Adjust as needed */
/*  height: 100%;*/
/*  pointer-events: none;*/
/*  z-index: 2;*/
/*}*/

/*.section_logo1 .logo-list-wrapper::before {*/
/*  left: 0;*/
/*  background: linear-gradient(to right, white 0%, transparent 100%);*/
/*}*/

/*.section_logo1 .logo-list-wrapper::after {*/
/*  right: 0;*/
/*  background: linear-gradient(to left, white 0%, transparent 100%);*/
/*}*/

/*.stacked-slide {*/
/*  position: absolute;*/
/*}*/

/*.stacked-slider {*/
/*  height: 100vh;*/
/*}*/

/*.stacked-img {*/
/*  clip-path: inset(0% 0% 0% 0%);*/
/*}*/

/*#section-header-test {*/
/*overflow: hidden;*/
/*}*/

/*#section-header-number-small {*/
/*  color: #e10600;*/
/*  opacity: 1;*/
/*  font-size: 3rem;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*#section-header-text-large {*/
/*  font-size: 12vw;*/
/*}*/

/*.section-typography .fan-sans-svg {*/
/*  width: 100%;*/
/*  fill: white;*/
/*}*/
