.slider-wrapper,
.slider-inner,
.slider-inner .slide {
  position: static;
  height: auto;
  overflow: visible;
}

.n_scrolling-slider {
    max-width: 100vw;
    overflow: hidden;
}

/* PAGE SLIDER */
.js-slider.slider-wrapper {
    position: relative; /* important for absolute .slide children */
    height: 100vh;
    overflow: hidden;
}

.js-slider .slider-inner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.js-slider .slider-inner .slide {
    position: absolute;
    inset: 0;
    /* border: 2px solid chartreuse; */
    background-color: black;
    height: 100vh;
    overflow: auto;
    max-height: 100vh;
    overflow: hidden;

    /* border: 1px solid chartreuse; */
}



.n_section-header__title {
    font-size: clamp(3.4375rem, 1.7113rem + 8.631vw, 12.5rem);
}

.container-large.dot-reveal-text {
    padding-left: 5%;
    padding-right: 5%;
}


.slider-inner .section-split,
.slider-inner .section-split__container {
  height: 100%;
}
.slider-inner .section-split-slide {
  max-height: unset;
}
.slider-inner .section-split-slide .text-align-center {
  padding: 1em;
}
.slider-inner .section-split-slide .w-embed {
  display: flex;
  justify-content: center;
  height: 100%;
}
.section-split__headline--top,
.section-split__headline--bottom {
  min-height: 0; 
}

.js-slider{
    /* display: none!important; */
}